.learnings-settings__passing-period {
	margin-bottom: 4px !important;
}

.learnings-upload-file-message{
	margin-top: 30px !important;
}

.learnings-period-message {
	margin-top: 20px !important;
}

.learnings-settings__passing-require-descr {
	display: block;
    margin-top: 6px;
    font-size: 12px;
}