

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #09d3ac;
}

.subordinates-card__selected-users {
	font-size: 18px;
	cursor: pointer;
	padding: 0 4px;
	color: #1890ff;
}

.ant-list-item:hover {
	background-color: #f6fbff;
}

.subordinates-card__menu {
	margin-right: 20px;
	font-weight: bold;
	display: inline-block;
}

.subordinates-card__menu_item {
	margin-right: 20px;
}

.subordinates-card__menu_item-link {
	color: #1890ff;
	text-decoration: none;
	background-color: transparent;
	outline: none;
}

.subordinates-card__menu_item:hover {
	cursor: default;
}